<div id='side-bar' class="center"></div>
<div class="content center"></div>

<script>
	$(function(){

		var qistsData = <%= Qist.all.to_json.html_safe %>;
		var usersData = <%= User.all.to_json.html_safe %>;

		//important things
		QS.init(
			//container
			$(".content"),
			qistsData,
			usersData
			//? other data?
		);


	});
</script>