@import "bootstrap";
.container {
	margin-top:40px;
}

.navbar-inner {
	padding-left:100px;
}

#sidebar {
	float: left;
	margin: 20px;

}

.content {
	float: left;
	margin: 20px;
	margin-top: 50px;
}

textarea {
	height: 120px;
	width: 500px;
}
