<% if ( typeof(QS.Store.currentUserId) == "number" ) { %>
	<a class='btn' id="sign-out" href="#">Sign Out</a>
<% } else { %>
	<a class='btn' id="sign-in" href='#'>Sign In</a>
<% } %>
<a class='btn' id='new-button' href='#/qists/new'>New Qist</a>